

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burkina Faso | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Burkina Faso</h1>
    <div class="container">
        <img src="../static/img_revise/burkina_faso.gif" alt="Burkina Faso's National Flag" class="box">
        <img src="../static/silhouette/burkina_faso.svg" alt="Burkina Faso Silhouette" class="box">
        <img src="../static/globe/burkina_faso.png" alt="Burkina Faso on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Burkina Faso.</strong></h2>
    <a href="../index.html" class="button" id="BF">Home</a>
</body>
</html>


