<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cape Verde | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Cape Verde</h1>
    <div class="container">
        <img src="../static/img_revise/cape_verde.gif" alt="Cape Verde's National Flag" class="box">
        <img src="../static/silhouette/cape_verde.svg" alt="Cape Verde Silhouette" class="box">
        <img src="../static/globe/cape_verde.png" alt="Cape Verde on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Cape Verde.</strong></h2>
    <a href="../index.html" class="button" id="CV">Home</a>
</body>
</html>

