<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chile | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Chile</h1>
    <div class="container">
        <img src="../static/img_revise/chile.gif" alt="Chile's National Flag" class="box">
        <img src="../static/silhouette/chile.svg" alt="Chile Silhouette" class="box">
        <img src="../static/globe/chile.png" alt="Chile on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Chile.</strong></h2>
    <a href="../index.html" class="button" id="CL">Home</a>
</body>
</html>


