<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>China | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>China</h1>
    <div class="container">
        <img src="../static/img_revise/china.gif" alt="China's National Flag" class="box">
        <img src="../static/silhouette/china.svg" alt="China Silhouette" class="box">
        <img src="../static/globe/china.png" alt="China on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>China.</strong></h2>
    <a href="../index.html" class="button" id="CN">Home</a>
</body>
</html>



