<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Democratic Republic of the Congo | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>The Democratic Republic of the Congo</h1>
    <div class="container">
        <img src="../static/img_revise/democratic_republic_of_congo.gif" alt="The Democratic Republic of the Congo's National Flag" class="box">
        <img src="../static/silhouette/democratic_republic_of_congo.svg" alt="The Democratic Republic of the Congo Silhouette" class="box">
        <img src="../static/globe/democratic_republic_of_congo.png" alt="The Democratic Republic of the Congo on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>The Democratic Republic of the Congo.</strong></h2>
    <a href="../index.html" class="button" id="CD">Home</a>
</body>
</html>






