<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecuador | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Ecuador</h1>
    <div class="container">
        <img src="../static/img_revise/ecuador.gif" alt="Ecuador's National Flag" class="box">
        <img src="../static/silhouette/ecuador.svg" alt="Ecuador Silhouette" class="box">
        <img src="../static/globe/ecuador.png" alt="Ecuador on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Ecuador.</strong></h2>
    <a href="../index.html" class="button" id="EC">Home</a>
</body>
</html>