<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equatorial Guinea | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Equatorial Guinea</h1>
    <div class="container">
        <img src="../static/img_revise/equatorial_guinea.gif" alt="Equatorial Guinea's National Flag" class="box">
        <img src="../static/silhouette/equatorial_guinea.svg" alt="Equatorial Guinea Silhouette" class="box">
        <img src="../static/globe/equatorial_guinea.png" alt="Equatorial Guinea on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Equatorial Guinea.</strong></h2>
    <a href="../index.html" class="button" id="GQ">Home</a>
</body>
</html>