<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guatemala | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Guatemala</h1>
    <div class="container">
        <img src="../static/img_revise/guatemala.gif" alt="Guatemala's National Flag" class="box">
        <img src="../static/silhouette/guatemala.svg" alt="Guatemala Silhouette" class="box">
        <img src="../static/globe/guatemala.png" alt="Guatemala on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Guatemala.</strong></h2>
    <a href="../index.html" class="button" id="GT">Home</a>
</body>
</html>