<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haiti | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Haiti</h1>
    <div class="container">
        <img src="../static/img_revise/Haiti.gif" alt="Haiti's National Flag" class="box">
        <img src="../static/silhouette/Haiti.svg" alt="Haiti Silhouette" class="box">
        <img src="../static/globe/Haiti.png" alt="Haiti on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Haiti.</strong></h2>
    <a href="../index.html" class="button" id="HT">Home</a>
</body>
</html>
