<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yemen | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Yemen</h1>
    <div class="container">
        <img src="../static/img_revise/yemen.gif" alt="Yemen's National Flag" class="box">
        <img src="../static/silhouette/yemen.svg" alt="Yemen Silhouette" class="box">
        <img src="../static/globe/yemen.png" alt="Yemen on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Yemen.</strong></h2>
    <a href="../index.html" class="button" id="YE">Home</a>
</body>
</html>

