@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
 }

 body {
    font-family: 'Raleway', sans-serif;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

input[type=text]:active, input[type=text]:focus {
    border-radius: 10px 10px 0 0;
}

input[type=text] {
    background-color: #f1f1f1;
    font-family: 'Arial', sans-serif;
}

#index {
    background-color: dodgerblue;
    color: white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0 0 2px 2px;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: dodgerblue !important;
    color: #fff
}

.container {
    width: 100%;
    vertical-align: top;
}

.box {
    display: inline-block;
    width: 30%;
    border: 2px solid black;
    margin: auto;
}

.button {
    border: 2px solid darkgray;
    border-radius: 10%;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#AT {
    background-image: linear-gradient(rgb(222, 16, 24) 33%, white 33%, white 67%, rgb(222, 16, 24) 67%);
}

#AF {
    background-image: linear-gradient(to right, black 33%, rgb(222, 0, 8) 33%, rgb(222, 0, 8) 67%, rgb(8, 123, 57) 67%);
    color: white;
}

#AL {
    background-color: rgb(222, 16, 24);
}

#DZ {
    background-image: linear-gradient(to right, rgb(24, 148, 82) 50%, white 50%);
    color: #DE1818;
}

#AD {
    background-image: linear-gradient(to right, rgb(16, 24, 240) 33%, yellow 33%, yellow 67%, rgb(231, 0, 49) 67%);
    color: #DEC694;
    text-shadow: #7B5A31 -1px -1px, #7B5A31 1px 1px, #7B5A31 1px -1px, #7B5A31 -1px 1px;
}

#AO {
    background-image: linear-gradient(to bottom, rgb(222, 24, 24) 50%, black 50%);
    color: #FFEF08;
}

#AG {
    background: linear-gradient(45deg, rgb(222, 24, 24) 33%, rgba(1, 1, 1, 0) 33%), linear-gradient(-45deg, rgb(222, 24, 24) 33%, rgba(1, 1, 1, 0) 33%), linear-gradient(to bottom, black 35%, rgb(8, 82, 165) 35%, rgb(8, 82, 165) 65%, white 65%);
    color: #FFDE08;
}

#AR {
    background-image: linear-gradient(to bottom, #339cc6 33%, white 33%, white 67%, #339cc6 67%);
    color: #FFEF08;
    text-shadow: #787B00 1px 1px, #787B00 -1px -1px, #787B00 -1px 1px, #787B00 1px -1px;
}

#AM {
    background-image: linear-gradient(to bottom, #DE1018 33%, #002984 33%, #002984 67%, #EF7B21 67%);
    color: white;
}

#AU {
    background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0) 33%, white 33%, white 42%, #E71019 42%, #E71019 58%, white 58%, white 67%, rgba(1, 1, 1, 0) 67%), linear-gradient(to right, rgba(1, 1, 1, 0) 33%, white 33%, white 42%, #E71019 42%, #E71019 58%, white 58%, white 67%, rgba(1, 1, 1, 0) 67%), linear-gradient(22.5deg, rgba(1, 1, 1, 0) 33%, white 33%, white 50%, #E71029 50%, #E71029 58%, white 58%, white 67%, rgba(1, 1, 1, 0) 67%), linear-gradient(158.5deg, #08086B 33%, white 33%, white 42%, #E71029 42%, #E71029 50%, white 50%, white 67%, #08086B 67%);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-color: #08086B;
    color: white;
    text-shadow: black 1px 1px;
}

#AZ {
    background-image: linear-gradient(to bottom, #002984 33%, #De1818 33%, #DE1818 67%, #109452 67%);
    color: white;
}

#BS {
    background-image: linear-gradient(to bottom left, transparent 50%, black 0), linear-gradient(to bottom right, black 50%, transparent 0), linear-gradient(to bottom, #008CAD 67%, #FFEF31 67%), linear-gradient(to bottom, #FFEF31 33%, #008CAD 33%);
    background-position: top, bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    color: white;
}

#BH {
    background-image: linear-gradient(to right, white 25%, #DE1818 33%)
}

#BD {
    background-image: radial-gradient(circle at 45%, #E71029 25%, #087B39 25%);
}

#BB {
    background-image: linear-gradient(to right, #000873 33%, #FFDE08 33%, #FFDE08 67%, #000873 67%);
    text-shadow: #FFDE08 1px 1px, #FFDE08 -1px -1px, #FFDE08 -1px 1px, #FFDE08 1px -1px
}

#BY {
    background-image: linear-gradient(to right, white 3%, #DE1818 3%, #DE1818 7%, white 7%, white 10%, transparent 10%), linear-gradient(to bottom, #DE1818 67%, #5AB521 67%);
}

#BE {
    background-image: linear-gradient(to right, black 33%, #FFEF08 33%, #FFEF08 67%, #DE1018 67%);
    color: white;
    text-shadow: black 1px 1px, black -1px -1px, black -1px 1px, black 1px -1px;
}

#BZ {
    background-image: radial-gradient(circle, white 25%, transparent 25%), linear-gradient(to bottom, #DE0008 10%, #104A9C 10%, #104A9C 90%, #DE0008 90%);
    text-shadow: white 1px 1px, white -1px -1px, white 1px -1px, white -1px 1px;
}

#BJ {
    background-image: linear-gradient(to right, #109452 33%, transparent 33%), linear-gradient(to bottom, #FFEF08 50%, #DE1018 50%);
}

#BT {
    background-image: linear-gradient(-22.5deg, #FFD608 50%, #E76B00 50%);
    color: white;
    text-shadow: black 1px 1px; 
}

#BO {
    background-image: linear-gradient(to bottom, #DE1018 33%, #F7EF10 33%, #F7EF10 67%, #109452 67%);
    color: #C66B08;
}

#BA {
    background-image: linear-gradient(to left, #000873 26%, transparent 26%), linear-gradient(45deg, #000873 50%, #FFDE08 50%); 
    color: white;
    text-shadow: black 1px 1px, black -1px -1px
}

#BW {
    background-image: linear-gradient(to bottom, #0873A5 38%, white 38%, white 44%, black 44%, black 56%, white 56%, white 62%, #0873A5 62%);
    color: #92090A;
    text-shadow: white 1px 1px, white -1px -1px, white -1px 1px, white 1px -1px
}

#BR {
    background-color: #18945A;
    color: #FFEF08;
}

#BN {
    background-image: linear-gradient(-170deg, #FFEF08 35%, white 35%, white 52%, black 52%, black 65%, #FFEF08 65%);
    color: #FFEF08;
    text-shadow: #DE1818 1px 1px, #DE1818 -1px -1px, #DE1818 -1px 1px, #DE1818 1px -1px;
}

#BG {
    background-image: linear-gradient(to bottom, white 33%, #109452 33%, #109452 67%, #DE1018 67%);
}

#BF {
    background-image: linear-gradient(to bottom, #DE1818 50%, #189452 50%);
    color: #FFEF08;
}

#BI {
    background-image: linear-gradient(to bottom left, #DE1818 50%, #18945A 50%);
    color: white
}

#KH {
    background-image: linear-gradient(to bottom, #002984 25%, #DE1818 25%, #DE1818 75%, #002984 75%);
    color: white;
}

#CM {
    background-image: linear-gradient(to right, #109452 33%, #DE1818 33%, #DE1818 67%, #FFEF08 67%);
    color: #FFEF08;
    text-shadow: black 1px 1px, black 1px -1px, black -1px -1px, black -1px 1px;
}

#CA {
    background-image: linear-gradient(to right, #DE1818 27%, white 27%, white 73%, #DE1818 73%);
    color: #DE1818;
    text-shadow: white 1px 1px, white 1px -1px, white -1px -1px, white -1px 1px;
}

#CV {
    background-image: radial-gradient(circle at 45%, transparent 25%, #FFDE08 25%, #FFDE08 30%, transparent 30%), linear-gradient(to bottom, #080863 50%, white 50%, white 63%, #E71829 63%, #E71829 75%, white 75%, white 88%, #080863 88%);
    color: #FFDE08;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

#CF {
    background-image: linear-gradient(to right, transparent 45%, #DE1818 45%, #DE1818 55%, transparent 55%), linear-gradient(to bottom, #082984 25%, white 25%, white 50%, #109452 50%, #109452 75%, #FFEF08 75%);
    color: #FFEF08;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px ;
}

#TD {
    background-image: linear-gradient(to right, #002984 33%, #FFEF08 33%, #FFEF08 67%, #DE1018 67%);
    color: white;
    text-shadow: black 1px 1px, black 1px -1px, black -1px -1px, black -1px 1px;
}

#CL {
    background-image: linear-gradient(to top, #DE1018 50%, transparent 50%), linear-gradient(to right, #08298C 33%, white 33%, white 67%);
    text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
}

#CN {
    background-color: #DE1818;
    color: #FFEF08;
}

#CO {
    background-image: linear-gradient(to bottom, #FFEF08 50%, #002984 50%, #002984 75%, #DE1018 75%);
    color: white;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

#KM {
    background-image: linear-gradient(to bottom left, transparent 50%, #18945A 50%), linear-gradient(to top left, transparent 50%, #18945A 50%), linear-gradient(to bottom, #FFDE08 50%, white 50%), linear-gradient(to bottom, #DE1818 50%, #00298C 50%);
    background-size: 100% 50%;
    color: white;
    background-position: top, bottom;
    background-repeat: no-repeat;
}

#CR {
    background-image: linear-gradient(to bottom, #183984 17%, white 17%, white 33%, #DE1018 33%, #DE1018 67%, white 67%, white 83%, #183984 83%);
    color: white;
    text-shadow: #5AAD29 1px 1px, #5AAD29 -1px 1px, #5AAD29 -1px -1px, #5AAD29 1px -1px;
}

#HR {
    background-image: linear-gradient(to bottom, #DE1818 33%, white 33%, white 67%, #00298C 67%);
    color: #DE1818;
}

#CU {
    background-image: linear-gradient(to bottom left, transparent 50%, #DE1818 50%), linear-gradient(to top left, transparent 50%, #DE1818 50%), linear-gradient(to bottom, #082984 40%, white 40%, white 80%, #082984 80%), linear-gradient(to bottom, #082984 20%, white 20%, white 60%, #082984 60%);
    background-size: 100% 50%;
    background-position: top, bottom;
    background-repeat: no-repeat;
    color: white;
    /* terminal hate post */
}

#CY {
    background-image: radial-gradient(circle at 50%, #E7AD08 20%, transparent 20%);
    color: #18945A
}

#CZ{
    background-image: linear-gradient(to bottom left, transparent 50%, #08298C 50%), linear-gradient(to top left, transparent 50%, #08298C 50%), linear-gradient(to bottom, white 50%, white 50%), linear-gradient(to bottom, #DE1018 50%, #DE1018 50%);
    background-size: 100% 50%;
    background-position: top, bottom;
    background-repeat: no-repeat;
}

#CD {
    background-image: linear-gradient(-22.5deg, #4AADCE 40%, #FFEF08 40%, #FFEF08 44%, #DE0808 44%, #DE0808 56%, #FFEF08 56%, #FFEF08 60%, #4AADCE 60%);
    color: white;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

#DK {
    background-image: linear-gradient(to bottom, transparent 46%, white 46%, white 54%, transparent 54%), linear-gradient(to right, #DE1018 40%, white 40%, white 44%, #DE1018 44%);
}

#DJ {
    background-image: linear-gradient(to bottom left, transparent 50%, white 50%), linear-gradient(to top left, transparent 50%, white 50%), linear-gradient(to bottom, #5A84BD 50%, #5A84BD 50%), linear-gradient(to bottom, #5AB929 50%, #5AB929 50%);
    background-size: 100% 50%;
    background-position: top, bottom;
    background-repeat: no-repeat;
    color: #DE1018;
}

#DM {
    background-color: #087B39;
    background-image: radial-gradient(circle, #DE0008 33%, transparent 33%), linear-gradient(to right, transparent 44%, #FFDE08 44%, #FFDE08 48%, transparent 48%), linear-gradient(to right, transparent 48%, black 48%, black 52%, transparent 52%), linear-gradient(to right, transparent 52%, white 52%, white 56%, transparent 56%), linear-gradient(to bottom, transparent 38%, #FFDE08 38%, #FFDE08 46%, transparent 46%), linear-gradient(transparent 46%, black 46%, black 54%, transparent 54%), linear-gradient(transparent 54%, white 54%, white 62%, transparent 62%);
    text-shadow: white 1px 1px, white 1px -1px, white -1px -1px, white -1px 1px;
}

#DO {    
    background: linear-gradient(45deg, #DE1018 25%, transparent 25%, transparent 75%, #DE1018 75%, #DE1018 0), linear-gradient(45deg, #DE1018 25%, transparent 25%, transparent 75%, #DE1018 75%, #DE1018 0), #002984;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 5px 5px;
    background-size: 10px 10px, 10px 10px;
    color: white;
}

#TL {
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%), linear-gradient(to top left, transparent 50%, black 50%), linear-gradient(to bottom left, transparent 40%, #F7B508 40%), linear-gradient(to top left, transparent 40%, #F7B508 40%);
    background-size: 100% 50%;
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-color: #DE0008;
    color: white;
}

#EC {
    background-image: linear-gradient(to bottom, #FFE710 50%, #002184 50%, #002184 75%, #DE1018 75%);
    color: #BD3900;
}   

#EG {
    background-image: linear-gradient(to bottom, #DE1018 33%, white 33%, white 67%, black 67%);
    color: #D6AD08;
}

#SV {
    background-image: linear-gradient(to bottom, #0852A5 33%, white 33%, white 67% #0852A5 67%);
    color: #5AB521;
}

#GQ {
    background-image: linear-gradient(to bottom left, transparent 50%, #0852A5 50%), linear-gradient(to top left, transparent 50%, #0852A5 50%), linear-gradient(to bottom, #109452 67%, white 67%), linear-gradient(to bottom, white 33%, #DE1818 33%);
    background-position: top, bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    color: white;
}

#ER {
    background-image: radial-gradient(circle at 25% 100%, #FFEF08 10%, transparent 10%), radial-gradient(circle at 25% 0%, #FFEF08 10%, transparent 10%), linear-gradient(to bottom left, transparent 50%, #DE1818 50%), linear-gradient(to top left, transparent 50%, #DE1818 50%), linear-gradient(to bottom, #087B39 50%, #087B39 50%), linear-gradient(to bottom, #5A84BD 50%, #5A84BD 50%);
    background-position: top, bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

#EE {
    background-image: linear-gradient(to bottom, #295AA5 33%, black 33%, black 67%, white 67%);
    color: white;
}

#SZ {
    background-image: linear-gradient(to bottom, #0852A5 20%, #FFEF08 20%, #FFEF08 25%, #D60018 25%, #D60018 75%, #FFEF08 75%, #FFEF08 80%, #0852A5 80%);
}

#ET {
    background-image: radial-gradient(circle, #FFEF08 16%, #082984 16%, #082984 24%, transparent 24%), linear-gradient(to bottom, #109452 33%, #FFEF08 33%, #FFEF08 67%, #DE1018 67%);
    text-shadow: #FFEF08 1px 0px, #FFEF08 -1px 0px;
}

#FJ {
    background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0) 33%, white 33%, white 42%, #E71019 42%, #E71019 58%, white 58%, white 67%, rgba(1, 1, 1, 0) 67%), linear-gradient(to right, rgba(1, 1, 1, 0) 33%, white 33%, white 42%, #E71019 42%, #E71019 58%, white 58%, white 67%, rgba(1, 1, 1, 0) 67%), linear-gradient(22.5deg, rgba(1, 1, 1, 0) 33%, white 33%, white 50%, #E71029 50%, #E71029 58%, white 58%, white 67%, rgba(1, 1, 1, 0) 67%), linear-gradient(158.5deg, #08086B 33%, white 33%, white 42%, #E71029 42%, #E71029 50%, white 50%, white 67%, #08086B 67%);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-color: #0073AD;
    color: white;
    text-shadow: black -1px -1px;
}

#FI {
    background-image: linear-gradient(to right, transparent 20%, #08186B 20%, #08186B 40%, transparent 40%), linear-gradient(to bottom, transparent 30%, #08186B 30%, #08186B 70%, transparent 70%);
}

#FR {
    background-image: linear-gradient(to right, #080863 33%, white 33%, white 67%, #D60818 67%);
    text-shadow: white 1px 0px, white -1px 0px;
}

#GA {
    background-image: linear-gradient(to bottom, #109452 33%, #FFEF08 33%, #FFEF08 67%, #002984 67%);
}

#GM {
    background-image: linear-gradient(to bottom, #DE1018 33%, white 33%, white 36%, #002984 36%, #002984 64%, white 64%, white 67%, #109452 67%);
    color: white;
}

#GE {
    background-image: linear-gradient(to left, transparent 40%, #DE0008 40%, #DE0008 60%, transparent 60%), linear-gradient(to bottom, transparent 30%, #DE0008 30%, #DE0008 70%, transparent 70%);
}

#DE {
    background-image: linear-gradient(to bottom, black 33%, #DE0008 33%, #DE0008 67%, #FFDE08 67%);
}

#GH {
    background-image: radial-gradient(circle, black 15%, transparent 15%), linear-gradient(to bottom, #DE0008 33%, #FFEF08 33%, #FFEF08 67%, #109452 67%);
    color: white;
    text-shadow: black 1px 0px, black -1px 0px, black 0px 1px, black 0px -1px;
}

#GR {
    background-image: linear-gradient(90deg, transparent 15%, #ffffff 15%, #ffffff 22.5%, transparent 22.5%), linear-gradient(transparent 22%, #ffffff 22%, #ffffff 33%, transparent 33%), linear-gradient(#0873A5 50%, #0873A5 50%), linear-gradient(#0d5eaf 50%, #ffffff 50%);
    background-size: 100% 55%, 36.6% 100%, 36.8% 55%, 100% 22.2%
}

#GD {
    background-image: radial-gradient(circle, #DE1818 10%, transparent 10%), linear-gradient(157.5deg, #189452 50%, #FFEF08 50%);
}

#GT {
    background-image: linear-gradient(to left, #8CBDDE 33%, white 33%, white 67%, #8CBDDE 67%);
}

#GW {
    background-image: linear-gradient(to right, #DE1018 33%, transparent 33%), linear-gradient(to bottom, #FFEF08 50%, #109452 50%);
}

#GN {
    background-image: linear-gradient(to right, #DE1018 33%, #FFEF08 33%, #FFEF08 67%, #109452 67%);
}

#YE {
    background-image: linear-gradient(to bottom, #DE1018 33%, white 33%, white 67%, black 67%);
}

#ZM {
    background-image: linear-gradient(to right, transparent 67%, #DE1018 67%, #DE1018 78%, black 78%, black 89%, #EF7B21 89%);
    background-color: #087B39;
    color: #944A10;
    text-shadow: black 1px 1px;
}

#ZW {
    background-image: linear-gradient(to bottom left, transparent 60%, white 0), linear-gradient(to bottom right, white 40%, transparent 0), linear-gradient(to bottom left, transparent 50%, black 0), linear-gradient(to bottom right, black 50%, transparent 0), linear-gradient(to bottom, #109452 29%, #FFEF08 29%, #FFEF07 57%, #DE1818 57%, #DE1818 86%, black 86%), linear-gradient(to bottom, black 14%, #DE1818 14%, #DE1818 43%, #FFEF08 43%, #FFEF08 71%, #109452 71%);
    background-position: top, bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    color: #FFEF08;
    text-shadow: black 1px 1px, black -1px -1px, black 1px -1px, black -1px 1px;
}