<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antigua and Barbuda | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Antigua and Barbuda</h1>
    <div class="container">
        <img src="../static/img_revise/antigua_barbuda.gif" alt="Antigua and Barbuda's National Flag" class="box">
        <img src="../static/silhouette/antigua_barbuda.svg" alt="Antigua and Barbuda Silhouette" class="box">
        <img src="../static/globe/antigua_barbuda.png" alt="Antigua and Barbuda on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Antigua and Barbuda.</strong></h2>
    <a href="../index.html" class="button" id="AG">Home</a>
</body>
</html>
