<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bahamas | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>The Bahamas</h1>
    <div class="container">
        <img src="../static/img_revise/bahamas.gif" alt="The Bahamas's National Flag" class="box">
        <img src="../static/silhouette/bahamas.svg" alt="The Bahamas Silhouette" class="box">
        <img src="../static/globe/bahamas.png" alt="The Bahamas on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>The Bahamas.</strong></h2>
    <a href="../index.html" class="button" id="BS">Home</a>
</body>
</html>
