<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbados | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Barbados</h1>
    <div class="container">
        <img src="../static/img_revise/barbados.gif" alt="Barbados's National Flag" class="box">
        <img src="../static/silhouette/barbados.svg" alt="Barbados Silhouette" class="box">
        <img src="../static/globe/barbados.png" alt="Barbados on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Barbados.</strong></h2>
    <a href="../index.html" class="button" id="BB">Home</a>
</body>
</html>
