<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costa Rica | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Costa Rica</h1>
    <div class="container">
        <img src="../static/img_revise/costa_rica.gif" alt="Costa Rica's National Flag" class="box">
        <img src="../static/silhouette/costa_rica.svg" alt="Costa Rica Silhouette" class="box">
        <img src="../static/globe/costa_rica.png" alt="Costa Rica on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Costa Rica.</strong></h2>
    <a href="../index.html" class="button" id="CR">Home</a>
</body>
</html>




