<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuba | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Cuba</h1>
    <div class="container">
        <img src="../static/img_revise/cuba.gif" alt="Cuba's National Flag" class="box">
        <img src="../static/silhouette/cuba.svg" alt="Cuba Silhouette" class="box">
        <img src="../static/globe/cuba.png" alt="Cuba on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Cuba.</strong></h2>
    <a href="../index.html" class="button" id="CU">Home</a>
    <!--terminal hate post-->
</body>
</html>





