<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethiopia | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Ethiopia</h1>
    <div class="container">
        <img src="../static/img_revise/ethiopia.gif" alt="Ethiopia's National Flag" class="box">
        <img src="../static/silhouette/ethiopia.svg" alt="Ethiopia Silhouette" class="box">
        <img src="../static/globe/ethiopia.png" alt="Ethiopia on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Ethiopia.</strong></h2>
    <a href="../index.html" class="button" id="ET">Home</a>
</body>
</html>