<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finland | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Finland</h1>
    <div class="container">
        <img src="../static/img_revise/finland.gif" alt="Finland's National Flag" class="box">
        <img src="../static/silhouette/finland.svg" alt="Finland Silhouette" class="box">
        <img src="../static/globe/finland.png" alt="Finland on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Finland.</strong></h2>
    <a href="../index.html" class="button" id="FI">Home</a>
</body>
</html>