<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guinea-Bissau | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Guinea-Bissau</h1>
    <div class="container">
        <img src="../static/img_revise/guinea_bissau.gif" alt="Guinea-Bissau's National Flag" class="box">
        <img src="../static/silhouette/guinea_bissau.svg" alt="Guinea-Bissau Silhouette" class="box">
        <img src="../static/globe/guinea_bissau.png" alt="Guinea-Bissau on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>guinea_bissau\.</strong></h2>
    <a href="../index.html" class="button" id="GW">Home</a>
</body>
</html>