<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guyana | Country Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Guyana</h1>
    <div class="container">
        <img src="../static/img_revise/Guyana.gif" alt="Guyana's National Flag" class="box">
        <img src="../static/silhouette/Guyana.svg" alt="Guyana Silhouette" class="box">
        <img src="../static/globe/Guyana.png" alt="Guyana on World Map" class="box">
    </div>
    <h2>Some <strong>text</strong> here about <strong>Guyana.</strong></h2>
    <a href="../index.html" class="button" id="GY">Home</a>
</body>
</html>